* {
  font-family: Helvetica, sans-serif;
}

html {
  height: 100vh;
  margin: 0;
  padding: 0px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 30%;
  display: none;
  flex-direction: column;
  flex: 0.7;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.restart {
  flex: 1;
}
.game {
  flex: 6;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  flex: 1;
  height: 100%;
}

.bottom {
  border-bottom: 7px solid rgb(18, 155, 197);
}

.right {
  border-right: 7px solid rgb(18, 155, 197);
}

.box > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
}

.box > div:empty {
  cursor: pointer;
}

.restart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.restart button {
  flex: 1;
  height: 100%;
  border: 0px;
  font-size: 2vw;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition-duration: 1s;
  width: 100%;
}

button:hover {
  background-color: rgb(218, 218, 218);
}

button {
  border-radius: 15px;
}

.turn {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 25px;
  font-size: 4.5vw;
}

.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.title {
  font-size: 3.5vw;
}

.names > form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.names > form {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

label {
  display: flex;
  justify-content: center;
  font-size: 1.5vw;
  color: white;
}

input {
  padding: 7px;
  border-radius: 10px;
}

form {
  background-color: rgb(59, 163, 248);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startButton {
  padding: 13px;
  width: 8vw;
  cursor: pointer;
  background-color: rgb(255, 136, 67);
  color: white;
  font-size: 1.1vw;
}

.startButton:hover {
  background-color: rgb(255, 136, 67);
}

.startButton:active {
  background-color: rgb(255, 167, 116);
}
