@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  font-family: "Pacifico", cursive;
}

html {
  height: 100vh;
  margin: 0;
  padding: 0px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background-color: #086788;
}

.container {
  display: none;
  flex: 2;
  border-radius: 15px;
  justify-content: space-evenly;
  align-items: flex-end;
}

.restart {
  flex: 1;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33%;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  width: 80%;
}

.scoresBox {
  display: flex;
  border: 5px solid black;
  background-color: white;
}

.leftScore,
.rightScore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  font-size: 3vw;
}

.scoreTitle {
  color: rgb(83, 178, 255);
}

.leftScoreTitle,
.rightScoreTitle {
  border-right: 5px solid black;
  padding: 10px;
  padding-top: 20px;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

.leftScoreNumber,
.rightScoreNumber {
  color: rgb(255, 123, 0);
  padding: 10px;
  padding-bottom: 13px;
  font-size: 1.1em;
  display: flex;
  align-items: center;
}

.bottom {
  border-bottom: 7px solid rgb(18, 155, 197);
}

.right {
  border-right: 7px solid rgb(18, 155, 197);
}

.box > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  color: rgb(255, 123, 0);
}

.box > div:empty {
  cursor: pointer;
}

.restart {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.restart button {
  border: 0px;
  font-size: 3vw;
  cursor: pointer;
  background-color: transparent;
  width: 12%;
  transition: color 1s;
}

button:hover {
  color: rgb(255, 143, 0);
}

button {
  border-radius: 15px;
}

.turn {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 25px;
  font-size: 4.5vw;
  color: white;
}

.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: #086788;
}

.title {
  font-size: 5vw;
  color: rgb(255, 123, 0);
}

.names > form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.names > form {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

label {
  display: flex;
  justify-content: center;
  font-size: 2vw;
  color: white;
}

input {
  padding: 7px;
  border-radius: 10px;
  font-size: 1.3vw;
}

form {
  background-color: rgb(59, 163, 248);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid rgb(255, 136, 67);
}

.startButton {
  padding: 13px;
  width: 8vw;
  cursor: pointer;
  background-color: rgb(255, 136, 67);
  color: white;
  font-size: 1.3vw;
}

.startButton:hover {
  background-color: rgb(255, 113, 31);
  color: white;
}
